<div class="d-flex justify-content-evenly m-auto">
  <div class="card mx-3 shadow text-center">
    <div class="card-header">
      Libre
    </div>
    <div class="card-body">
      <h5 class="card-title">$0/mes</h5>
      <p class="card-text">10 usuarios incluidos</p>
      <p class="card-text">2GB de almacenamiento</p>
      <p class="card-text">Soporte de correo electronico</p>
      <p class="card-text">Acceso al centro de ayuda</p>
      <a href="#" class="btn btn-outline-primary">Registrate gratis</a>
    </div>
  </div>
  <div class="card mx-3 shadow text-center">
    <div class="card-header">
      Pro
    </div>
    <div class="card-body">
      <h5 class="card-title">$15/mes</h5>
      <p class="card-text">20 usuarios incluidos</p>
      <p class="card-text">10GB de almacenamiento</p>
      <p class="card-text">Soporte prioritario por correo electronico</p>
      <p class="card-text">Acceso al centro de ayuda</p>
      <a href="#" class="btn btn-primary">Empezar</a>
    </div>
  </div>
  <div class="card mx-3 shadow text-center">
    <div class="card-header">
      Empresa
    </div>
    <div class="card-body">
      <h5 class="card-title">$29/mes</h5>
      <p class="card-text">30 usuarios incluidos</p>
      <p class="card-text">15GB de almacenamiento</p>
      <p class="card-text">Soporte telefonico y por correo electronico</p>
      <p class="card-text">Acceso al centro de ayuda</p>
      <a href="#" class="btn btn-primary">Contactenos</a>
    </div>
  </div>
</div>